.App {
  text-align: center;
}
a {
  color: black;
}
h2,
h3 {
  margin: 0;
}
a:link {
  text-decoration: none;
  color: black;
}
.albumWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.detailPageWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eachAlbumImg {
  width: 300px;
}
.navBar {
  height: 40px;
  background-color: #4ac8f0;
  margin-bottom: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0px 10px;
}
.navTitle {
  margin: 0;
  cursor: pointer;
}
.cartBtn {
  background-color: #4ac8f0;
  border: none;
  width: 300px;
  height: 40px;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}
.errorMessageNoData {
  font-size: 35rem;
}
.cartAlbumImg {
  width: 100px;
}
.cartEachAlbum {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.cartPay {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}
.cartPayPrice {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0px;
  border-bottom: 1px solid black;
}
.payBtn {
  width: 240px;
  height: 70px;
  background-color: #4ac8f0;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 40vw;
  cursor: pointer;
}
.addCartModal {
  width: 230px;
  padding: 0px 10px;
  height: 150px;
  margin-top: 20px;
  background-color: white;
  border: 2px solid #4ac8f0;
}
.cartNum {
  position: relative;
  top: -50px;
  left: 70px;
  color: red;
  font-weight: 900;
}
.orderList,
.cartList,
.payList {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}
.payDate {
  display: flex;
  flex-direction: row;
}
.payPrice,
.payAlbumInfo {
  display: flex;
  flex-direction: column;
}
.searchForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.searchInput {
  width: 30vw;
  height: 30px;
  border: 3px solid #4ac8f0;
  border-radius: 16px;
  font-size: 20px;
}
.searchBtn {
  border: none;
  background-color: white;
}
.searchIcon{
  width: 24px;
}
.searchTitle{
  text-align: center;
  margin-bottom: 30px;
}
